
[submodule "UCL_Core"]
	path = UCL_Core
	url = https://github.com/tim099/UCL_Core
	branch = Dev
[submodule "UCL_Modules/UCL_Game"]
	path = UCL_Modules/UCL_Game
	url = https://github.com/tim099/UCL_Game
	branch = Dev
[submodule "UCL_Modules/UCL_Scene"]
	path = UCL_Modules/UCL_Scene
	url = https://github.com/tim099/UCL_Scene
	branch = Dev
[submodule "UCL_Modules/UCL_Input"]
	path = UCL_Modules/UCL_Input
	url = https://github.com/tim099/UCL_Input
	branch = Dev
[submodule "UCL_Modules/UCL_Audio"]
	path = UCL_Modules/UCL_Audio
	url = https://github.com/tim099/UCL_Audio
	branch = Dev
[submodule "UCL_Modules/UCL_Build"]
	path = UCL_Modules/UCL_Build
	url = https://github.com/tim099/UCL_Build
	branch = Dev
[submodule "UCL_Modules/UCL_Network"]
	path = UCL_Modules/UCL_Network
	url = https://github.com/tim099/UCL_Network
	branch = Dev
[submodule "UCL_Modules/UCL_Mesh"]
	path = UCL_Modules/UCL_Mesh
	url = https://github.com/tim099/UCL_Mesh
	branch = Dev
[submodule "UCL_Modules/UCL_Tween"]
	path = UCL_Modules/UCL_Tween
	url = https://github.com/tim099/UCL_Tween
	branch = Dev
[submodule "UCL_Modules/UCL_WindowsLib"]
	path = UCL_Modules/UCL_WindowsLib
	url = https://github.com/tim099/UCL_WindowsLib
	branch = Dev