
[submodule "UCL_Core"]
	path = UCL_Core
	url = https://github.com/tim099/UCL_Core
	branch = Dev
[submodule "UCL_Modules/UCL_Game"]
	path = UCL_Modules/UCL_Game
	url = https://github.com/tim099/UCL_Game
	branch = Dev
[submodule "UCL_Modules/UCL_Scene"]
	path = UCL_Modules/UCL_Scene
	url = https://github.com/tim099/UCL_Scene
	branch = Dev
[submodule "UCL_Modules/UCL_Input"]
	path = UCL_Modules/UCL_Input
	url = https://github.com/tim099/UCL_Input
	branch = Dev
[submodule "UCL_Modules/UCL_Audio"]
	path = UCL_Modules/UCL_Audio
	url = https://github.com/tim099/UCL_Audio
	branch = Dev
